.highlight {
    background-color: yellow;
}
.current-highlight {
    background-color: orange;
}
.bg-grey {
    background-color: #f0f0f0;
}
.navigation-buttons {
    margin-top: 10px;
}

.navbar-default {
    position: absolute;
    bottom: -86px;
    transition: all 0.3s ease;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    bottom: auto;
    padding: 40px;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.logo {
    display: none;
}

.navbar-fixed .logo {
    display: block;
}

/* Adjust spacing between logo and menu items */
.logo {
    margin-right: 2rem;
}

/* Adjust spacing between menu items */
ul li:not(:last-child) a {
    margin-right: 1.5rem;
}

/* Ensure menu items are aligned properly */
ul {
    display: flex;
    align-items: center;
}

.mnav {
    z-index: 999;
    background-color: white;
}

/* Pastikan Hero Section tidak menutupi */
.bg-hero {
    position: relative;
    z-index: 1;
}

.highlight {
    background-color: yellow;
}

.current-highlight {
    background-color: orange;
}

#searchNavigation button {
    padding: 2px 5px;
    margin: 0 2px;
}

#clearSearch {
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
}
